groups:
- name: systemd_service_crashed
  rules:
  - alert: systemd_service_crashed
    expr: node_systemd_unit_state{name!="motd-news.timer",state="failed"} == 1
    for: 1m
    labels:
      severity: critical
    annotations:
      description: "Systemd service {{ $labels.name }} crashed on {{ $labels.instance }}"

  - alert: docker_service_is_not_running
    expr: node_systemd_unit_state{state="active", name="docker.service"} == 0
    labels:
      severity: critical
    annotations:
      description: "Systemd service {{ $labels.name }} is not in running on {{ $labels.instance }}"
