groups:
- name: telegraf_http_response
  rules:
  - alert: http_unreachable
    expr: http_response_result_code != 0
    for: 5m
    labels:
      severity: critical
    annotations:
      description: 'URL {{ $labels.server }} is unreachable from {{ $labels.host }}! Response: {{ $labels.result }}'

  - alert: http_response_code
    expr: http_response_http_response_code != 200
    for: 5m
    labels:
      severity: critical
    annotations:
      description: 'URL {{ $labels.server }} response code error: {{ $value }} on {{ $labels.instance }}'

  - alert: http_response_response_time
    expr: http_response_response_time > 3
    for: 5m
    labels:
      severity: critical
    annotations:
      description: '{{ $labels.server }} response time on {{ $labels.instance }} is too high: {{ $value }} seconds'

  - alert: http_response_response_string_match
    expr: http_response_response_string_match != 1
    for: 5m
    labels:
      severity: critical
    annotations:
      description: '{{ $labels.server }} HTTP response not match check string on {{ $labels.instance }}'
